<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistemaclube.Properties.Settings.sistemaConnectionString"
            connectionString="server=localhost;user id=root;password=Gata1203;persistsecurityinfo=True;database=sistema"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>